{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="about">
    <img src="{% static '/image/image.JPG' %}" alt="Image">
    <div class="about-description">
        <h2>ABOUT</h2>
        <p> Hello! My name is Melodie Gardose, and I’m a 23-year-old digital marketer with a deep passion for creativity and effective communication. 
            my journey, I’ve developed a strong foundation in crafting compelling marketing strategies that resonate with diverse audiences. 
            My enthusiasm for the digital landscape fuels my desire to continuously learn and embrace new challenges.</p>
       <p>I am committed to enhancing my expertise by staying at the forefront of emerging trends and technologies. By acquiring innovative skills, I aim to play an active role in the technological development of our society. 
           I believe that by leveraging the power of digital marketing, we can not only drive business growth but also contribute positively to the communities we serve.
       </p>
    </div>
</div>
<div class="address">
    <div class="details">
        <div class="panalingaan">
            <h1>ADDRESS</h1>
            <p>Baranggay Panalingaan, Rizal, Palawan</p>
            <a target='_blank' href="https://www.google.com/maps/place/Panalingaan,+Rizal,+Palawan/@8.7521011,117.5288255,11z/data=!4m6!3m5!1s0x3234616430f46d11:0xbb8172dc945fff85!8m2!3d8.7543306!4d117.4673845!16s%2Fg%2F11bwcnth4c?entry=ttu&g_ep=EgoyMDI0MDgyMC4xIKXMDSoASAFQAw%3D%3D"> <img src="{% static '/image/address.png' %}" alt="Image" style="max-width: 20em;"> <br> View map</a>
        </div>
        <div class="education">
            <h3>EDUCATION</h3>
            <p>Candawaga Elementary School <br>S.Y. 2009-2015</p>
            <p></p>
            <p></p>
            <p>Candawaga National Hiigh School <br>S.Y. 2016-2018</p>
            <p></p>
            <p></p>
            <p>Candawaga National High School(Senior High School) <br>Information and Communication Technology<br>S.Y 2019-2021</p>
            <p></p>
            <p></p>
            <p>Palawan State University <br>Bachelor of Science in Information Technology <br>A.Y. 2021-2025</p>
        </div>
    </div>
</div>
<div class="achievements">
    <h2>ACHIEVEMENTS AND CERTIFICATIONS</h2>
    <h3>"Google Classroom & ZipGrade App Training-Workshop for Teachers of Sta. Lourdes National High School"</h3>
    <div class="gclass-workshop">
        <img src="{% static 'image/gclass-cert.jpg' %}" alt="Google Classroom Certification" style="max-width: 30em;">
        <img src="{% static 'image/gclass-pic1.jpg' %}" alt="Google Classroom Workshop" style="max-width: 30em;">
        <img src="{% static 'image/gclass-pic2.jpg' %}" alt="Google Classroom Workshop" style="max-width: 30em;">
    </div>
    <h3>"UI-UX Competition</h3>
    <div class="ui-ux">
        <img src="{% static 'image/ui-ux1.jpg' %}" alt="UI-UX Competition" style="max-width: 30em;">
        <img src="{% static 'image/ui-ux2.jpg' %}" alt="UI-UX Competition" style="max-width: 30em;">
        <img src="{% static 'image/ui-ux3.jpg' %}" alt="UI-UX Competition" style="max-width: 30em;">
    </div>
    <h3>UNIIC Ideathon 2024</h3>
    <div class="uniic">
        <img src="{% static 'image/uniic4.png' %}" alt="UI-UX Competition" style="max-width: 30em;">
        <img src="{% static 'image/uniic1.jpg' %}" alt="UI-UX Competition" style="max-width: 30em;">
        <img src="{% static 'image/uniic2.jpg' %}" alt="UI-UX Competition" style="max-width: 30em;">
    </div>
</div>
{% endblock content %}