{% extends "base.html" %}
{% block content %}

<div style="about">
    <h3>Hello! I am Melodie Gardose, a 23 years old passionate digital marketer with creativity and strong communication skills. I aim to continuously enhance my knowledge and acquire innovative skills to contribute to the technological development of society. Ultimately, I strive for significant success in the field of digital marketing.</h3>
    <h3>ADDRESS</h3>
    <p>Baranggay Panalingaan, Rizal, Palawan</p>
    <div class="education">
        <h3>EDUCATION</h3>
        <p>Candawaga Elementary Schoo <br>S.Y. 2009-2015</p>
        <p></p>
        <p></p>
        <p>Candawaga National Hiigh School <br>S.Y. 2016-2018</p>
        <p></p>
        <p></p>
        <p>Candawaga National High School(Senior High School) <br>Information and Communication Technology<br>S.Y 2019-2021</p>
        <p></p>
        <p></p>
        <p>Palawan State University <br>Bachelor of Science in Information Technology <br>A.Y. 2021-2025</p>
    </div>
</div>
{% endblock content %}