{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="contacts">
    <h3>CONTACTS</h3>
    <div class="con1">
        <p><img src="{% static '/image/call-in.png' %}" alt="Image" style="max-width: 5em;"> <br>Mobile Number: 09682163969 </p>
        <p><img src="{% static '/image/gmail.png' %}" alt="Image" style="max-width: 5em;"> <br> Email: gardosemelodie@gmail.com</p>
        <p><img src="{% static '/image/facebook.png' %}" alt="Image" style="max-width: 5em;"> <a target='_blank' href="https://www.facebook.com/melodie.gardose">View Profile</a> <br> Facebook: Melodie Lacson Gardose</p>
    </div>
    <div class="con2">
        <p><img src="{% static '/image/instagram.png' %}" alt="Image" style="max-width: 5em;"><a target='_blank' href="https://www.instagram.com/me10dieees/">View Profile</a> <br>Instagram: me10dieees</p>
        <p> <img src="{% static '/image/twitter.png' %}" alt="Image" style="max-width: 5em;"><a target='_blank' href="https://x.com/melodayahh">View Profile</a><br>Twitter: dies.diaries</p>
    </div>
    </div>
</div>

{% endblock content %}