{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="contacts">
    <h3>CONTACTS</h3>
    <div>
        <p>Mobile Number: 09682163969 </p>
        <img src="{% static '/image/call-in.png' %}" alt="Image" style="max-width: 5em;">
        <p>Email: gardosemelodie@gmail.com</p>
        <img src="{% static '/image/gmail.png' %}" alt="Image" style="max-width: 5em;">
        <p>Facebook: Melodie Lacson Gardose</p>
        <img src="{% static '/image/facebook.png' %}" alt="Image" style="max-width: 5em;">
        <a target='_blank' href="https://www.facebook.com/melodie.gardose">link</a>
        <p>Instagram: me10dieees</p>
        <img src="{% static '/image/instagram.png' %}" alt="Image" style="max-width: 5em;">
        <a target='_blank' href="https://www.instagram.com/me10dieees/">link</a>
        <p>Twitter: dies.diaries</p>
        <img src="{% static '/image/twitter.png' %}" alt="Image" style="max-width: 5em;">
        <a target='_blank' href="https://x.com/melodayahh">link</a></p>
    </div>
</div>

{% endblock content %}