{% extends "base.html" %}
{% block content %}

<div>
    <div>
        <h1 style="color:#ffffff;">Hi there i'm melods</h1>
        <p style="color:#ffffff;">I'm into you</p>
        <a style="color:#ffffff;" href="">About me</a>
        <div>
            <a style="color:#ffffff;" target='_blank' href="https://www.facebook.com/melodie.gardose">Facebook</a>
            <a style="color:#ffffff;" target='_blank' href="https://www.instagram.com/me10dieees/">Instagram</a>
            <a style="color:#ffffff;" target='_blank' href="https://x.com/melodayahh">Twitter</a>
            <a style="color:#ffffff;" target='_blank' href="https://github.com/me10die?tab=repositories">Github</a>
        </div>
    </div>
</div>

{% endblock content %}