{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="home">
    <div class="description">
        <div class="name">
            <h1>Hello!</h1>
            <h1>I'm Melodie L. Gardose</h1>
            <p>I'm a dedicated Digital Marketer</p>
            <a href="{% url 'cv' %}">View Resume</a>
        </div>
        <div class="image">
            <img src="{% static '/image/image.JPG' %}" alt="Image">
        </div>
    </div>
    <div class="socmed">
        <a target='_blank' href="https://www.facebook.com/melodie.gardose"> <img src="{% static '/image/fb.png' %}" alt="Image" style="max-width: 2em;"> </a>
        <a target='_blank' href="https://www.instagram.com/me10dieees/"> <img src="{% static '/image/ig.png' %}" alt="Image" style="max-width: 2em;"></a>
        <a target='_blank' href="https://x.com/melodayahh"> <img src="{% static '/image/twitter.png' %}" alt="Image" style="max-width: 2em;"></a>
        <a target='_blank' href="https://github.com/me10die?tab=repositories"> <img src="{% static '/image/github.png' %}" alt="Image" style="max-width: 2em;"></a>
    </div>
</div>

{% endblock content %}