{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="home">
    <div class="description">
        <div class="name">
            <h1>Hello! I'm Melodie L. Gardose</h1>
            <p>I'm a dedicated Digital Marketer</p>
            <a href="{% url 'cv' %}">View Cv</a>
        </div>
        <div class="image">
            <img src="{% static '/image/image.JPG' %}" alt="Image">
        </div>
    </div>
    <div class="socmed">
        <a target='_blank' href="https://www.facebook.com/melodie.gardose">Facebook</a>
        <a target='_blank' href="https://www.instagram.com/me10dieees/">Instagram</a>
        <a target='_blank' href="https://x.com/melodayahh">Twitter</a>
        <a target='_blank' href="https://github.com/me10die?tab=repositories">Github</a>
    </div>
</div>

{% endblock content %}