{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="skills">
    <h4>PROFESSIONAL SKILLS</h4>
    <div class="professional-skills">
        <div class="networking">
            <img src="{% static '/image/networking.png' %}" alt="Image" style="max-width: 15em;">
            <p>NETWORKING <br> I excel at building strong relationships and collaborating with colleagues, stakeholders, and industry professionals. I value open communication and feedback, which enhances my work and drives continuous personal and organizational growth.</p>
        </div>
        <div class="webcontent">
            <p>WEB CONTENT <br>I’m passionate about creating innovative content that aligns with current trends and enjoy developing engaging web content that captures and retains audience interest.</p>
            <img src="{% static '/image/webcontent.png' %}" alt="Image" style="max-width: 15em;">
        </div>
        <div class="analytics">
            <img src="{% static '/image/analytics.png' %}" alt="Image" style="max-width: 14em;">
            <p>ANALYTICS <br>I prioritize thoroughly analyzing problems to understand their root causes and gather relevant information before developing effective and well-informed solutions.</p>
        </div>
        <div class="technical">
            <p>TECHNICAL <br>I have strong technical skills that enable me to effectively troubleshoot and resolve various technical problems, using my expertise to manage issues efficiently and stay updated with the latest technologiesL</p>
            <img src="{% static '/image/technical.png' %}" alt="Image" style="max-width: 14em;">
        </div>
    </div>
    <div class="skills2">
        <h4>PERSONAL SKILLS</h4>
    </div>
    <div class="personal-skills">
        <div class="fast-learner">
            <img src="{% static '/image/fastlearner.png' %}" alt="Image" style="max-width: 15em;">
            <p>FAST LEARNER <br>I am a fast learner who invests significant effort and focus into acquiring and mastering new knowledge and skills, enabling me to quickly adapt to new challenges and integrate innovative ideas.</p>
        </div>
        <div class="adoptability">
            <p>ADOPTABILITY <br>I quickly adapt to different work environments, cultures, and colleagues, effectively navigating various dynamics and fostering positive teamwork. </p>
            <img src="{% static '/image/adoptability.png' %}" alt="Image" style="max-width: 15em;">
        </div>
        <div class="social-skills">
            <img src="{% static '/image/socialskills.png' %}" alt="Image" style="max-width: 14em;">
            <p>S0CIAL SKILLS <br> I have strong communication skills that enable me to clearly convey ideas, listen actively, and build meaningful connections with others.</p>
        </div>
        <div class="teamwork">
            <p>COLLABORATIVE AND TEAMWORK <br>I excel in collaboration and teamwork, effectively communicating and coordinating with colleagues to achieve common goals and build productive relationships.</p>
            <img src="{% static '/image/collaborative.png' %}" alt="Image" style="max-width: 14em;">
        </div>
    </div>
</div>

{% endblock content %}