{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="skills">
    <h3>PROFESSIONAL SKILLS</h3>
    <div class="professional-skills">
        <div class="pro1">
            <a>Networking</a>
            <img src="{% static '/image/networking.png' %}" alt="Image" style="max-width: 15em;">
            <a>Web Content</a>
            <img src="{% static '/image/webcontent.png' %}" alt="Image" style="max-width: 15em;">
        </div>
        <div class="pro2">
            <a>Editing</a>
            <img src="{% static '/image/editing.png' %}" alt="Image" style="max-width: 15em;">
            <a>Analytics</a>
            <img src="{% static '/image/analytics.png' %}" alt="Image" style="max-width: 12em;">
        </div>
        <div class="pro3">
            <a>Technical skills</a>
            <img src="{% static '/image/technical.png' %}" alt="Image" style="max-width: 12em;">
        </div>
    </div>
    <div class="skills2">
        <h3>PERSONAL SKILLS</h3>
    </div>
    <div class="personal-skills">
        <div class="per1">
            <a>Fast Learner</a>
            <img src="{% static '/image/fastlearner.png' %}" alt="Image" style="max-width: 15em;">
            <a>Addoptability</a>
            <img src="{% static '/image/adoptability.png' %}" alt="Image" style="max-width: 15em;">
        </div>
        <div class="per2">
            <a>Social Skills</a>
            <img src="{% static '/image/socialskills.png' %}" alt="Image" style="max-width: 12em;">
            <a>Collaborative and Teamwork</a>
            <img src="{% static '/image/collaborative.png' %}" alt="Image" style="max-width: 12em;">
        </div>
    </div>
</div>

{% endblock content %}